:root {
    --primary-color: #1a1a1a;
}

* {

    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Libre Baskerville", serif;
    color: rgb(16, 15, 15);
}

html, body, #map {
    height: 100%;
    width: 100vw;
}

p {
    margin-bottom: 1em;
}

h3 {
    margin-bottom: 1rem;
    padding-bottom: 0.25rem;
}

.icon {
    width: 1.4rem;
    height: 1.4rem;
    vertical-align: middle;
    color: #dcd8c0;
}

.btn {
    background-color: #205EA6;
    color: rgb(255, 252, 240);
    text-align: center;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.btn:hover {
    background-color: #4385BE;
    color: rgb(255, 252, 240);
}

.btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    width: 100%;
}

.btn-group>.btn {
    background-color: #454138;
    width: 100%;
}

.btn-group>.btn:hover {
    background-color: #534f44;
    width: 100%;
    cursor: pointer;
}

.btn-group>.btn.active {
    background-color: #205EA6
}

.btn-group>.btn-group:not(:first-child), .btn-group>.btn:not(:first-child) {
    margin-left: -1px;
}

.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Race and year controls wrapper */
.year-race-dropdown-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.control-wrapper {
    display: none;
    align-items: center;
    gap: 5px;
    margin-bottom: 1rem;
}

.control-wrapper.active {
    display: flex;
}

/* Custom dropdown controls */
.dropdown-group {
    position: relative; /* anchor for the panel */
}

.dropdown-panel {
    display: none;
    position: absolute; /* float above the page */
    top: 100%;          /* directly below the toggle button */
    left: 0;            /* aligned to the left edge of the toggle button */
    margin-top: 2px;    /* Adds margin between group btn and panel */
    z-index: 1000;      /* Top layer of viewport */
    overflow-y: auto;   /* For small screens */
    max-height: 90vh;   /* For small screens */
    background-color: #ffffff;
    text-align: left;
    padding: 0.5rem 0px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-panel.open {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dropdown-header {
    padding: 0.5rem 1rem;
}

.dropdown-item {
    cursor: pointer;
    padding: 0.25rem 1rem;
}

.dropdown-item:hover {
    background-color: #ebebeb;
}

.dropdown-item.active {
    color: #ffffff;
    background-color: rgb(32, 94, 166);
}

.dropdown-item.disabled {
    color: var(--color-text-tertiary);
    color: red;
    pointer-events: none;
    cursor: default;
}

/* Modifications to leaflet-sidebar.css */
.leaflet-sidebar{
    font-family: "Libre Baskerville", serif;
}
.leaflet-sidebar.leaflet-touch {
    box-shadow: none;
}

.leaflet-sidebar-content {
    background-color: rgb(255, 252, 240);
}

.leaflet-sidebar-tabs {
    background-color: rgb(255, 252, 240);
}

.leaflet-sidebar-tabs ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.leaflet-sidebar-header {
    margin-bottom: 1em;
    background-color: #dcd8c0;
    color: #454138;
}

.leaflet-sidebar-tabs > li.active, .leaflet-sidebar-tabs > ul > li.active {
    color: #454138;
    background-color: #dcd8c0;
}

.leaflet-sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
    color: #454138;
    background-color: #dcd8c0;
}

.sidebar.sidebar-right.leaflet-touch.collapsed {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .sidebar-right {
        bottom: 35px;
    }
}

@media (min-width: 768px) {
    .sidebar {
        top: 10px;
        bottom: 10px;
        border: 2px solid rgba(0, 0, 0, 0.2)
    }
}

/* Sets style override for all leaflet buttons*/
.leaflet-bar button {
    color: #454138;
    background-color: rgb(255, 252, 240);
}

/* Puts a little dividing line between zoom in and zoom out*/
.leaflet-bar a {
    color: #454138;
    background-color: rgb(255, 252, 240);
    border-bottom: 1px solid #d1cdb7;
}

.legend {
    background: rgb(255, 252, 240);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    line-height: 1.6;
    font-size: 0.895rem;
    font-family: "Libre Baskerville", serif;
    max-width: 260px;
    width: fit-content;
}

.legend h4 {
    margin: 0 0 0 0;
    font-size: 0.895rem;
    font-weight: 500;
    padding: 10px 14px;
    color: #454138;
    background-color: #dcd8c0;
}

.legend-rows {
    padding: 10px 14px;
}

.legend-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.legend-swatch {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.chart-placeholder {
    font-size: 0.875rem;
    color: var(--color-text-secondary);
    padding: 1rem 0;
    text-align: center;
}

.chart-wrapper  > p{
    margin: 0rem;
}

#ed-bar-chart svg {
    width: 100%;
    height: auto;
    display: block;
}

#ed-bar-chart .bar:hover {
    opacity: 0.8;
}

.chart-legend {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
    font-size: 0.75rem;
    justify-content: center;
    
}

.chart-legend-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.chart-legend-swatch {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    flex-shrink: 0;
}